.toggle-button {
    position: fixed;
    padding: 0;
    border: none;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 3rem;
    cursor: pointer;
    background: none;
    color: #fff;
    transition: transform .4s;
}

.toggle-button.hide-mode {
    display: none;
}

.toggle-button.close-mode {
    transform: rotate(45deg);
}
