.video-list {
    padding: 0 10px 50px 0;
    list-style: none;
    transition: opacity .4s;
}

.video-list.loading {
    opacity: .5;
}

.video-list li {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 260px;
}
